body {
  &.page-template-about-us {
    .about-us-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      .title {
        font-weight: 700;
        letter-spacing: .1rem;
      }

      .main-text,
      .presentation-text {
        font-size: .65rem;
      }

      .presentation-text {
        padding-bottom: 2rem;
        text-align: center;
      }

      .main-text {
        padding: 4rem 0;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
