
@mixin ratio($w: 1, $h: 1) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: $h / $w * 100%;
  }

  & > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin ratio-bg($w: 1, $h: 1) {
  @include ratio($w, $h);
  @include bg-image;
}

@mixin bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin placeholder($color, $opacity: 1, $text-transform: none, $font-weight: normal, $letter-spacing: normal) {
  &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $color;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    opacity: $opacity;
    text-transform: $text-transform;
  }

  &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $color;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    opacity: $opacity;
    text-transform: $text-transform;
  }

  &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $color;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    opacity: $opacity;
    text-transform: $text-transform;
  }

  &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $color;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    opacity: $opacity;
    text-transform: $text-transform;
  }
}

//375 instead of 360 because of iPhone X
$breakpoint-xs: 375px;
$breakpoint-sm: 767px;
//991 instead if 1023 because of accessories card display in 991
$breakpoint-md: 991px;
//1360 before
$breakpoint-lg: 1199px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }

  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) { @content; }

  } @else if $media == sm-x {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }

  } @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }

  }@else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}
