$black: #000;
$white: #fff;
$custom-grey: #76757d;
$background-grey: #e2e2e4;
$card-grey: #b7b7b7;
$card-shadow-1: rgba(0, 0, 0, .2);
$card-shadow-2: rgba(0, 0, 0, .19);
$white-transparent: rgba(255, 255, 255, .7);
