body {
  &.home {
    .home-mobile-plant-img {
      @include media-breakpoint-up(sm) {
        display: none;
      }
      position: relative;
    }

    .div-fake-carousel {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .fake-carousel-img {
      max-width: 100%;
      position: relative;
    }

    .carousel-message {
      bottom: 8rem;
      max-width: 7%;
      position: absolute;
      right: 7rem;
    }
  }
}
