body {
  &.home {
    .accessories {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 5rem;
      position: relative;

    }
  }
}
