body {
  &.page-template-tpl-contact {
    .section-contact {
      font-weight: 700;
      text-align: center;

      .title {
        font-size: 1.1rem;
        letter-spacing: .19rem;

      }

      .container-general-info {
        font-size: .75rem;
        padding-bottom: 3rem;
        padding-top: 1.5rem;

        .email-contact {
          font-weight: normal;
        }
      }

      .container-form {
        .title-form {
          font-size: 1.1rem;
          letter-spacing: .13rem;
          padding-bottom: 1rem;
        }

        .wpcf7-form {
          .wpcf7-text,
          .wpcf7-textarea,
          [type='submit'] {

            width: 100%;

          }

          .wpcf7-text,
          .wpcf7-textarea {

            font-size: .78rem;
          }

          .wpcf7-textarea {
            padding: 1rem;
          }

          .wpcf7-text {
            text-align: center;
          }

          [type='submit'] {
            background-color: $red-crimson;
            border: 0;
            color: $white;
            letter-spacing: .3rem;
          }
        }
      }
    }
  }
}
