body {

  .card-accessories {
    background-color: unset;
    border: 0;
    border-color: unset;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-1;
    margin-bottom: 1rem;
    max-height: 25rem;
    max-width: 18.125rem;

    .accessories-black-container,
    .black-container {
      background-color: $black;
      box-shadow: none;
      color: $white;
    }

    .black-container {
      bottom: 1rem;
      margin: .5rem auto;
      position: absolute;
      width: 100%;
    }

    .card-body-accessories {
      background-color: $white;
      display: flex;
      justify-content: center;
      padding: .3rem;
    }

    .accessories-black-container {
      width: 66%;
    }

    .card-text-accessories {
      font-size: .78rem;
      text-transform: uppercase;
    }

    .last-row-card {
      margin-bottom: 3rem;
    }

    .card-img-top {
      @include media-breakpoint-up(lg) {
        height: 22.5rem;
        width: 18.125rem;
       }
      height: 16.25rem;
      width: 13.125rem;
    }
  }
}
