body {

  .carousel-mobile {

    .carousel-indicators {
      bottom: -11px;

      & > li {
        border: solid 1px;
        border-radius: 50%;
        height: 1rem;
        width: 1.125rem;
      }

      .active {
        background-color: $custom-grey;
      }
    }

    .card-carousel {
      background-color: unset;
      border: 0;
      border-color: unset;
      border-radius: 0;
      box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-1;
      margin-bottom: 1rem;
      max-height: 17.4rem;
      max-width: 9.6875rem;

      .card-img-top-carousel {
        height: 17.4rem;
        width: 9.6875rem;
      }

      .black-container-carousel {
        background-color: $black;
        bottom: 1rem;
        color: $white;
        margin: 1rem auto;
        max-width: 9.6875rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .d-flex {
      display: flex;
    }

    .carousel-lastimg-text,
    .carousel-lastimg-logo,
    .carousel-lastimg {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .carousel-lastimg {
      height: 36.8rem;
      position: relative;
      width: 100%;
    }

    .carousel-lastimg-text,
    .carousel-lastimg-logo {
      position: absolute;
    }

    .carousel-lastimg-text {
      height: 2.4rem;
      left: 4rem;
      top: 4.5rem;
      width: 10.5rem;
    }

    .carousel-lastimg-logo {
      bottom: .5rem;
      height: 1rem;
      right: .5rem;
      width: 2rem;
    }
  }
}
