body {
  .box-top-sales {
    background-color: $black;
    color: $white;
    left: 50%;
    position: absolute;
    top: 5.5rem;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .box-top-sales-text {
    margin: auto;
    padding: 0 1.5rem;
  }

  .red-flower,
  .black-shape,
  .brown-shape,
  .blue-lines,
  .decorative-img,
  .decorative-down-image {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
  }

  .red-flower {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    height: 1.1875rem;
    left: 0;
    top: -3rem;
    width: 18.125rem;
  }

  .black-shape {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    height: 6.1875rem;
    right: 3rem;
    width: 4.125rem;
  }

  .brown-shape {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    bottom: 24rem;
    height: 8.1875rem;
    left: 3rem;
    width: 1.125rem;
  }

  .blue-lines {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    right: 7rem;
    top: -4.5rem;
    width: 6.125rem;
  }

  .decorative-img {
    bottom: 7.5rem;
    min-height: 5rem;
    min-width: 5rem;
  }
}
