footer {
  &.footer-standard {
    .container-footer-nav {
      @include media-breakpoint-up(sm) {
        position: relative;
      }
      background-color: $background-grey;
    }

    .dinamic-container-footer-nav {
      @include media-breakpoint-up(sm) {
        background: transparent;
        bottom: 6rem;
        font-weight: 700;
        left: 0;
        padding-bottom: .5rem;
        position: absolute;
        right: 0;
        text-align: center;
      }
    }

    .footer-list-media {
      padding: 2rem 0;
      text-align: center;
    }

    .menu-footer-menu-container {
      text-align: center;

      ul {
        margin-bottom: 0;
      }
    }

    .foot-width {
      min-width: 9rem;
    }

    .misscherries-footer-menu {
      @include media-breakpoint-up(sm) {
        display: flex;
        font-size: .6rem;
        justify-content: center;
      }
      @include media-breakpoint-only(md) {
        font-size: .5rem;
      }

      list-style: none;
      padding-left: 0;
      padding-top: 3rem;
      text-transform: uppercase;

      .menu-item {
        @include media-breakpoint-up(sm) {
          padding-left: .5rem;
        }
        padding: .5rem 0;

        li {
          &:not(:first-child) {
            &::before {
              @include media-breakpoint-up(sm) {
                content: ' - ';
                padding-right: .5rem;
              }
            }
          }
        }
      }
    }

    .color-socialmedia-footer {
      @include media-breakpoint-down(xs) {
        display: none;
      }
      color: $standard-grey;
    }

    .footer-media-img-mobile {
      @include media-breakpoint-up(sm) {
        display: none;
      }
      max-width: 35%;
      padding: .5rem 0;
    }

    .foot-language-list {
      @include media-breakpoint-up(sm) {
        position: relative;
      }

      ul {
        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      }
    }

    .footer-language-ul {
      @include media-breakpoint-up(sm) {
        bottom: .5rem;
        font-size: .6rem;
        padding-right: 1.5rem;
        position: absolute;
        right: 0;
      }
      @include media-breakpoint-only(md) {
        font-size: .5rem;
        padding-right: 0;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 6.5rem;
      }
      display: flex;
      justify-content: center;
      list-style: none;

      .active > span {
        border-bottom: solid 1px $black;
      }

      li {
        &:last-child {
          @include media-breakpoint-only(sm) {
            margin-right: 0;
          }

          margin-left: 1rem;
          margin-right: 3rem;

          &::before {
            content: ' - ';
            padding-right: .5rem;
          }
        }
      }
    }
  }
}
