.header-dropdown-menu {
  position: relative;

  .close-nav {
    display: none;
  }

  .header-menu-left-container {
    background-color: $white-transparent;
    font-size: .7rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;

    .header-menu-left-nav,
    .menu {
      list-style: none;
      padding-left: 1rem;
    }

    .header-menu-left-nav {

      .item {
        padding-top: .6rem;
      }

      button {
        background: none;
        border: 0;
        text-align: justify;
        width: 5rem;

      }

      .arrow-class {
        &::after {
          content: url('../img/arrow.png');
          padding-left: .7rem;
          position: absolute;
        }
      }

      .submenu {
        padding-left: 1rem;
        z-index: + 2;
      }

      .sub-item {
        display: block;
        padding: .1rem 0;
        text-transform: initial;
      }
    }

    .nav-hr {
      border-top: 1px solid $black;
      margin-left: 1.125rem;
      width: 19%;
    }

    .second-menu {

      li {
        padding-bottom: .3rem;

        &:first-child {
          width: 10rem;
        }
      }
    }

    .close-header-menu-left {
      position: absolute;
      right: .5rem;
      top: -2rem;
    }
  }
}
