body {
  .header-menu-box {
    @include media-breakpoint-down(sm) {
      position: fixed;
    }
    background-color: $white;
    box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-2;
    display: flex;
    z-index: 1;

    .header-dropdown-menu,
    .header-menu-icons-container {
      padding: .3rem;
    }

    .header-dropdown-menu {
      @include media-breakpoint-up(sm) {
        padding: 1rem;
      }

      .fa-bars {
        @include media-breakpoint-up(sm) {
          transform: scale(1.5);
        }
      }
    }

    .logo-container {
      text-align: center;

      .misscherries-logo {
        @include media-breakpoint-up(sm) {
          max-width: 40%;
        }
        max-width: 100%;
      }
    }

    .header-menu-container {
      @include media-breakpoint-up(sm) {
        justify-content: space-evenly;
        padding-top: 1rem;
      }
      display: flex;

      .header-menu-icons-container {
        padding: .3rem;
      }

      .header-language-menu {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .fa-heart {
        @include media-breakpoint-up(sm) {
          padding-right: .5rem;
        }
      }
    }

    .btn-secondary {
      background-color: unset;
      border: 0;
      border-color: unset;
      color: unset;
    }

    .header-menu-my-account {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      font-size: .78rem;
      padding-top: .4rem;
    }
  }

  .header-second-menu {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .header-second-menu-ul {
      display: flex;
      font-size: .7rem;
      justify-content: center;
      list-style: none;
      padding-top: 1rem;
      text-transform: uppercase;

      .menu-item {
        padding-left: .5rem;
      }
    }
  }
}
