body {
  .socialclub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .socialclub,
    .follow-us-text {
      font-size: .78rem;
    }

    .bck-color-col {
      background-color: $background-grey;
    }

    .about-us-container {
      @include media-breakpoint-down(sm) {
        padding: 2rem 0;
      }
    }

    .about-us-title {
      @include media-breakpoint-up(sm) {
        padding: 5rem 4rem 0;
      }
      font-size: .78rem;
      padding-bottom: 1rem;
      text-indent: 2rem;

      strong {
        @include media-breakpoint-up(sm) {
          font-weight: normal;
        }
      }
    }

    .about-us-list {
      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: center;
        letter-spacing: .15rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
      }

      .about-us-list-text {
        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      .about-us-list-text-two {
        @include media-breakpoint-down(sm) {
          display: block;
        }

        @include media-breakpoint-up(sm) {
          &::before {
            content: ' - ';
            padding-right: .5rem;
          }
        }
        padding-left: .5rem;
      }

      .about-us-list-text-three {
        @include media-breakpoint-down(sm) {
          display: block;
        }

        @include media-breakpoint-up(sm) {
          &::before {
            content: ' - ';
            padding-right: .5rem;
          }
        }
        padding-left: .5rem;
      }
    }

    .socialclub-container {
      line-height: 1.2rem;
      margin-bottom: 7rem;
      padding-top: 3rem;
    }

    .socialclub-text-container {
      font-size: .72rem;

      br {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    .socialclub-title {
      letter-spacing: .2rem;
    }

    .socialclub-lastline {
      @include media-breakpoint-up(sm) {
        font-style: normal;
      }
      font-style: italic;
    }

    .socialclub-custom-hr {
      @include media-breakpoint-up(sm) {
        border-top: 1px solid $black;
        margin-top: 4rem;
        max-width: 33%;
      }
      border-top: 1px solid $background-grey;
      margin-bottom: 1.5rem;
    }
  }

  .btn-join,
  .hastag-box {
    background-color: $black;
    border-radius: 0;
    color: $white;
    padding: 0 .4rem;
  }

  .btn-join,
  .instagram-block-container {
    letter-spacing: .3rem;
  }

  .instagram-block {
    @include media-breakpoint-down(sm) {
      background-image: unset;
    }

    align-items: center;
    background-position: -700px 0;
    background-repeat: no-repeat;
    background-size: cover;

    .instagram-block-container {
      display: flex;
      flex-direction: column;

      .hastag-box {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: + 1;
      }

      .hastag-box-text {
        margin: auto;
      }

      .follow-us-text {
        padding: 2rem 0 .5rem;
      }

      .instagram-missc {
        @include media-breakpoint-up(sm) {
          margin-bottom: 2rem;
        }
        padding-bottom: 2rem;
      }

      .instagram-block-img {
        @include media-breakpoint-down(sm) {
          display: none;
        }

        margin: 0 auto;
        max-width: 80%;
      }

      .instagram-block-mobile-img {
        @include media-breakpoint-up(sm) {
          display: none;
        }
        max-width: 100%;
      }
    }
  }
}
