body {
  &.single {

    .no-display {
      display: none;
    }

    .no-display-mobile {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .no-display-desktop {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .left-col-container,
    .btn-add-to-cart,
    .color-select,
    .last-size-box {
      font-size: .7rem;
      letter-spacing: .18rem;
    }

    .name-product,
    .price-container,
    .description-title,
    .materials-title,
    .delivery-title {
      font-size: initial;
    }

    .title {
      background-color: $background-grey;
      margin-bottom: 2rem;
      padding: .5rem 0 .5rem 5rem;
    }

    .img-container {
      display: flex;
      justify-content: flex-end;

      .tab-column {
        max-width: 38%;

        .tab-row {
          padding-bottom: .5rem;

          img {
            cursor: pointer;
            max-width: 100%;
            opacity: .8;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .expand-img-container {
      position: relative;

      .decorative-down-image {
        bottom: 0;
        height: 3rem;
        position: absolute;
        right: 1rem;
        width: 3rem;
      }

      img {
        max-width: 100%;
      }
    }

    .name-product,
    .price-container {
      letter-spacing: .2rem;
    }

    .name-product {
      @include media-breakpoint-down(sm) {
        padding-top: 1.5rem;
        text-align: center;
      }

      text-transform: uppercase;
    }

    .price-container {
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      display: flex;

      .price {
        text-decoration: line-through;
      }

      .sales-price {
        color: $red-crimson;
        padding-left: .5rem;
      }
    }

    .size-title {
      padding-top: 1rem;
    }

    .size-container {
      display: flex;

      .size-box,
      .last-seize-box {
        border-radius: 0;
      }

      .size-box {
        border: .01rem solid $black;
        margin-right: .3rem;
      }

      .selected-size {
        background-color: $background-grey;
      }

      .last-size-box {
        background-color: $background-grey;
        font-size: .4rem;
        letter-spacing: .18rem;
        margin-left: 1rem;
        padding: .1rem;
      }
    }

    .color-container {
      letter-spacing: .2rem;
      padding-top: 1rem;

      .color-select {
        padding: .5rem 0 .5rem 1rem;
        width: 20rem;
      }
    }

    .btn-add-to-cart {

      @include media-breakpoint-down(sm) {
        border-radius: 0;
        bottom: -20rem;
        margin-left: -.95rem;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      background-color: $black;
      color: $white;
      margin-top: 1rem;
      padding: .5rem 2rem;
      width: 20rem;
    }

    .bellow-btn-message {
      padding: 2rem 0 1rem;
    }

    .delivery,
    .materials,
    .description {
      display: flex;
      flex-direction: column;
    }

    .container-product-information {

      hr {
        background-color: $pink;
        margin-left: 0;
        margin-top: .5rem;
        order: 2;
        width: 19rem;

      }
    }

    .description-title,
    .materials-title,
    .delivery-title {
      cursor: pointer;
      order: 1;
    }

    .description-body,
    .materials-body,
    .delivery-body {
      letter-spacing: normal;
      order: 3;
    }

    .description-title {
      &::after {
        content: url('../img/arrow.png');
        padding-left: .7rem;
        position: absolute;
      }
    }

    .materials-title {
      &::after {
        content: url('../img/arrow.png');
        padding-left: .7rem;
        position: absolute;
      }
    }

    .delivery-title {
      &::after {
        content: url('../img/arrow.png');
        padding-left: .7rem;
        position: absolute;
      }
    }

    .title-block {
      letter-spacing: .1rem;
      margin-top: 3rem;
      padding-bottom: 1rem;
    }

    .other-product-name,
    .other-product-price {
      text-align: center;
    }

    .other-product-name {
      letter-spacing: .1rem;
      padding-top: 1rem;
      text-transform: uppercase;
    }

    .other-product-price {
      font-weight: 700;
    }

    .other-product-img {
      cursor: pointer;
      max-width: 100%;
    }

  }
}
