.custome-entry-title {
  color: #000; }

.entry-title ::after {
  background: #FFE600;
  content: '';
  display: block;
  height: 18px;
  margin-top: -15px;
  margin-left: 15px;
  width: 46%; }

.book-shadow {
  box-shadow: 5px 10px #FFFF00, 10px 15px #000;
  margin-bottom: 22px;
  width: 35%; }
